@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid crimson; */
}

:root {
  --fnt-body-text: 'Kumbh Sans', sans-serif;
  --spacer: 1em;
  --clr-light-grey: #e8e8ea;
  --clr-mid-grey: #787887;
  --clr-dark-grey: #4b4c5f;
  --clr-black: #1e1f36;

  --measure: 40ch;
}

body {
  font-family: var(--fnt-body-text);
  display: grid;
  place-items: center;
  font-size: 1.1rem;
  color: var(--clr-black);
  min-height: 100vh;
  background-image: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  margin-top: 7rem;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

button {
  display: grid;
  place-items: center;
  border: 0;
  background-color: transparent;
  width: max-content;
  margin-left: auto;
  padding: var(--spacer);
  transform-origin: 50% 50%;
  cursor: pointer;
}

p.faq-text {
  max-width: var(--measure);
}

.faq.active button {
  transform: rotate(180deg);
}

.bg-container {
  height: 240px;
  width: 100%;
  margin-top: -8.5rem;
  background-image: url('./images/bg-pattern-mobile.svg'),
    url('./images/illustration-woman-online-mobile.svg');
  background-size: 55%, 60%;
  background-repeat: no-repeat;
  background-position: bottom center, top center;
}

.faq-container {
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  min-width: 510px;
  padding: var(--spacer);
  margin: calc(var(--spacer) * 2);
  padding-bottom: calc(var(--spacer) * 4);
}

.faq {
  border-bottom: 1px solid var(--clr-light-grey);
  margin: var(--spacer);
}

.faq-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.faq.active .faq-text {
  display: block;
}

.faq-text {
  font-weight: 300;
  color: var(--clr-mid-grey);
  margin-bottom: var(--spacer);
}

.faq-text {
  display: none;
  max-width: var(--measure);
  line-height: 1.6;
}

.faq.active h3 {
  font-weight: bold;
}

.faq h3 {
  color: var(--clr-dark-grey);
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: calc(var(--spacer) / 2);
}

.faq h3:hover,
.faq h3:active {
  color: hsl(14, 88%, 65%);
}

.flow > * + * {
  margin-top: var(--spacer);
}

.flow\:small > * + * {
  margin-top: calc(var(--spacer) / 2);
}

@media (min-width: 800px) {
  .faq-container {
    display: flex;
  }

  .bg-container {
    background-image: url('./images/illustration-woman-online-desktop.svg'),
      url('./images/bg-pattern-mobile.svg'),
      url('./images/illustration-box-desktop.svg');
    background-size: 223px 183px, 10%, auto;
    margin-left: -4rem;
    margin-top: 15%;
  }
}
